<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID" version="3.0">
<display-name>welcome-gradle</display-name>
<welcome-file-list>
<welcome-file>home</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>home</servlet-name>
<servlet-class>com.techlabs.controller.HomeController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.techlabs.controller.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/AddController</url-pattern>
		<url-pattern>/DeleteController</url-pattern>
		<url-pattern>/EditController</url-pattern>
		<url-pattern>/ContactController</url-pattern>
	<!-- 	<url-pattern>/AuthController</url-pattern> -->
	</filter-mapping>
</web-app>