/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/*cell{
  text-decoration: line-through;
}*/
INPUT:checked{
  text-decoration: line-through;
}
/* Style the list items */
table{
  border: 1px solid black;
  border-collapse: collapse;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  align-content: center;
  width: 100%;
  /*text-decoration: line-through;*/
}

button {
  color : blue;
  border-radius: 100%;
}



/* Style the header */
.header {
  background-color: #958585;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100%;
}
